.sconsign.dblite
compile_commands.json
.cache
**/*.uid
project/.import
**/*.os
**/*.o
**/*.lib
**/*.dll
**/*.bin
**/*.keystore
project/.godot
**/*.so
**/*.wasm
windows/*
web/*
android/*
linux/*
linux.zip
windows.zip
android.zip
web.zip